@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
}

body {
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin: 0 0 2rem;
}

h1, h2 {
  font-size: 1.3rem;
  font-weight: 500;
}